# 영업팀 상품코드 생성 자동화 프로그램

## ERP에서 자료 가져오기

In [1]:
from sqlalchemy import create_engine
import cx_Oracle
import pandas as pd
import binascii   # 한글 변환에 필요한 라이브러리
import sys

In [2]:
import pyautogui
import pyperclip # 한글 입력을 위한 클립보드 라이브러리
from timeit import default_timer as timer

In [3]:
import xlwings as xw

### DB 접속

In [4]:
sys.path.append('/settings')
import config

def connect_db(sid):
    if sid != config.COMPANY_DB_CONFIG['sid']:
        raise ValueError("DB 를 찾을 수 없습니다.")
        
    host = config.COMPANY_DB_CONFIG['host']
    port = config.COMPANY_DB_CONFIG['port']
    sid = config.COMPANY_DB_CONFIG['sid']

    serv = cx_Oracle.makedsn(host, port, sid=sid)

    cstr = 'oracle://{user}:{password}@{serv}'.format(
        user=config.COMPANY_DB_CONFIG['user'],
        password=config.COMPANY_DB_CONFIG['password'],
        serv=serv
    )

    conn = create_engine(cstr, convert_unicode=False, pool_recycle=-1, pool_size=5, echo=False)

    return conn

engine = connect_db('IVY')

### 조회조건 변수

In [5]:
# 실행파일로 만들 경우 이 변수들은 인풋으로 받아야 한다.
# N_season = '23N'
# F_season = '22F'
# S_season = '22S'
# agent = 'VA345'

#### N 시즌 입력

In [6]:
N_season = pyautogui.prompt(title='N시즌', text='N시즌을 입력하세요. 예 : 23N', default='23N')

In [7]:
while True:
    i = 0
    if len(N_season) != 3:
        i += 1
        pyautogui.alert(title='입력오류', text='시즌은 3자리로 입력하세요')
        N_season = pyautogui.prompt(title='N시즌', text='N시즌을 입력하세요. 예 : 23N', default='23N')

    if N_season[-1] != 'N':
        i += 1
        pyautogui.alert(title='입력오류', text='마지막 글자는 N 입니다.')
        N_season = pyautogui.prompt(title='N시즌', text='N시즌을 입력하세요. 예 : 23N', default='23N')

    if (N_season[0] >= '0' and N_season[0] <= '9') == False:
        i += 1
        pyautogui.alert(title='입력오류', text='첫번째 문자는 숫자입니다.')
        N_season = pyautogui.prompt(title='N시즌', text='N시즌을 입력하세요. 예 : 23N', default='23N')
    
    if (N_season[1] >= '0' and N_season[1] <= '9') == False:
        i += 1
        pyautogui.alert(title='입력오류', text='두번째 문자는 숫자입니다.')
        N_season = pyautogui.prompt(title='N시즌', text='N시즌을 입력하세요. 예 : 23N', default='23N')

    if i == 0:
        break

##### F 시즌 입력

In [8]:
F_season = pyautogui.prompt(title='F시즌', text='F시즌을 입력하세요. 예 : 22F', default='22F')

In [9]:
while True:
    i = 0
    if len(F_season) != 3:
        i += 1
        pyautogui.alert(title='입력오류', text='시즌은 3자리로 입력하세요')
        F_season = pyautogui.prompt(title='F시즌', text='F시즌을 입력하세요. 예 : 22F', default='22F')

    if F_season[-1] != 'F':
        i += 1
        pyautogui.alert(title='입력오류', text='마지막 글자는 F 입니다.')
        F_season = pyautogui.prompt(title='F시즌', text='F시즌을 입력하세요. 예 : 22F', default='22F')

    if (F_season[0] >= '0' and F_season[0] <= '9') == False:
        i += 1
        pyautogui.alert(title='입력오류', text='첫번째 문자는 숫자입니다.')
        F_season = pyautogui.prompt(title='F시즌', text='F시즌을 입력하세요. 예 : 22F', default='22F')
    
    if (F_season[1] >= '0' and F_season[1] <= '9') == False:
        i += 1
        pyautogui.alert(title='입력오류', text='두번째 문자는 숫자입니다.')
        F_season = pyautogui.prompt(title='F시즌', text='F시즌을 입력하세요. 예 : 22F', default='22F')

    if i == 0:
        break

##### S 시즌 입력

In [10]:
S_season = pyautogui.prompt(title='S시즌', text='S시즌을 입력하세요. 예 : 22S', default='22S')

In [11]:
while True:
    i = 0
    if len(S_season) != 3:
        i += 1
        pyautogui.alert(title='입력오류', text='시즌은 3자리로 입력하세요')
        S_season = pyautogui.prompt(title='S시즌', text='S시즌을 입력하세요. 예 : 22S', default='22S')

    if S_season[-1] != 'S':
        i += 1
        pyautogui.alert(title='입력오류', text='마지막 글자는 S 입니다.')
        S_season = pyautogui.prompt(title='S시즌', text='S시즌을 입력하세요. 예 : 22S', default='22S')

    if (S_season[0] >= '0' and S_season[0] <= '9') == False:
        i += 1
        pyautogui.alert(title='입력오류', text='첫번째 문자는 숫자입니다.')
        S_season = pyautogui.prompt(title='S시즌', text='S시즌을 입력하세요. 예 : 22S', default='22S')
    
    if (S_season[1] >= '0' and S_season[1] <= '9') == False:
        i += 1
        pyautogui.alert(title='입력오류', text='두번째 문자는 숫자입니다.')
        S_season = pyautogui.prompt(title='S시즌', text='S시즌을 입력하세요. 예 : 22S', default='22S')

    if i == 0:
        break

##### 대리점 코드 입력

In [12]:
# VA34B  ,    VA3A9     ,    45347    , ASFDGA   
# VA345 ,    VA359     ,    GA347    ,   AS346  

while True:
    i = 0 # 탈출조건
    agents = pyautogui.prompt(title='대리점코드', text='대리점 코드를 입력하세요. 예 : VA345\
                                                       \n\n2개 이상의 대리점을 입력할 경우\
                                                       \n대리점코드 사이에 , 를 넣어주세요.\
                                                       \n공백은 넣지 않습니다.\
                                                       \n\n예 : VA345,VA346,VA347', default='')
    agents = agents.upper().split(',') # 공백제거

    for j, a in enumerate(agents):
        agents[j] = a.split()[0] # split 은 리턴값이 리스트이므로 0번째 값을 저장한다.


    for j, a in enumerate(agents):
        if len(a) != 5:
            i += 1
            pyautogui.alert(title='입력오류', text=f'{j+1}번째 대리점의 대리점코드는 5자리로 입력하세요.\n\n입력한 값 : {agents[j]}')
            break
        if (a[0] >= '0' and a[0] <= '9') == True:
            i += 1
            pyautogui.alert(title='입력오류', text=f'{j+1}번째 대리점의 1번째 글자는 문자입니다.\n\n입력한 값 : {agents[j]}')
            break
        if (a[1] >= '0' and a[1] <= '9') == True:
            i += 1
            pyautogui.alert(title='입력오류', text=f'{j+1}번째 대리점의 2번째 글자는 문자입니다.\n\n입력한 값 : {agents[j]}')
            break
        if (a[2] >= '0' and a[2] <= '9') == False:
            i += 1
            pyautogui.alert(title='입력오류', text=f'{j+1}번째 대리점의 3번째 글자는 숫자입니다.\n\n입력한 값 : {agents[j]}')
            break
        if (a[3] >= '0' and a[3] <= '9') == False:
            i += 1
            pyautogui.alert(title='입력오류', text=f'{j+1}번째 대리점의 4번째 글자는 숫자입니다.\n\n입력한 값 : {agents[j]}')
            break
        if (a[4] >= '0' and a[4] <= '9') == False:
            i += 1
            pyautogui.alert(title='입력오류', text=f'{j+1}번째 대리점의 5번째 글자는 숫자입니다.\n\n입력한 값 : {agents[j]}')
            break

    if i == 0:
        break

agents

['VA345', 'VA347']

### 수행시간측정 시작

In [13]:
start_lab = timer()

### SQL문

- with open("파일이름.sql", "rt", encoding="utf8") as f:
- oracleSql = f.read()
- 
- 길이가 길 경우 파일로 넘겨준다.
- 
- 
- oracleSql = '''
- select agen_code,
-        rawtohex(utl_raw.cast_to_raw(agen_name)) agen_name
- from i_agen_t
- where 1=1

#### 한글변환 함수
- SQL문의 한글 컬럼에는 다음과 같이 함수로 처리
- rawtohex(utl_raw.cast_to_raw(변환할 컬럼))

In [14]:
# US7ASCII -> CP949(완성형한글) 로 변환
def us7ascii_to_cp949(df):
    for index, byte_data in enumerate(df):
        # print(byte_data + "  >>>  ", end="")
        byte_data = binascii.unhexlify(df[index])  # 16진수 문자열 hexstr로 표현된 바이너리 데이터를 반환. 역함수는 b2a_hex()
        df[index] = byte_data.decode("cp949")  # 바이트 변환값 -> cp949(완성형 한글) 로 변환
        # print(df[index])
    return df

#### SQL 본문
- 특약코드
    - ('C','D','H','I','L','R')
- 대리점코드
    - 강남점, 강동점, 분당점, 부천점, 만안점, 천안점  
    - ('VS455','VS022','VA156','VA338','VA146','VH017')
- 복종코드
    - 기타3 : cod_etc3 (동하복 복종)
        - F : 동복
        - S : 하복
        - T : 동하복공통
    - 기타4 : cod_etc4 (남녀 복종)
        - M : 남
        - F : 여
        - T : 남녀공통

##### 실제학교 함수 (시스템 조회 기준)

In [15]:
def product_code(N_season, F_season, S_season, agent):
    oracleSql = f'''
SELECT 'FM'                                      GRP,
       'IVYCLUB'                                 IVY_CD,
       Substr(season, 1, 2)                      YEAR,
       Substr(season, 3, 1)                      SS,
       sch_area                                  AREA,
       sch_sex                                   SEX,
       cod_code                                  BOKJONG,
       Decode(Substr(season, 3, 1), 'S', 'S',
                                    'F')         GUBUN,
       '0'                                       GUBUN2,
       sch_code                                  SCH_CD,
       Rawtohex(utl_raw.Cast_to_raw(sch_name
                                    ||' '
                                    ||cod_name)) NAME,
       size_code                                 SIZE_CD,
       size_code                                 PTN_CD,
       '100000'                                  TAG_PRICE,
       '100000'                                  SALE_PRICE,
       '100000'                                  ORIGIN_PRICE,
       '01'                                      DGN_CD,
       '0'                                       COLOR_CD,
       '01'                                      GH_CD,
       'JS'                                      HS_CD,
       '01'                                      GG_CD,
       ''                                        ITEM_CD,
       ''                                        BAR1,
       ''                                        BAR2,
       ''                                        HHY_CD,
       ''                                        STORY,
       ''                                        REMARK
FROM   (SELECT '{N_season}' AS SEASON
        FROM   dual
        UNION ALL
        SELECT '{F_season}' AS SEASON
        FROM   dual) SEASON_TAB,
       (SELECT sch_code,
               sch_name,
               Substr(sch_code, 1, 1) SCH_AREA,
               Substr(sch_code, 2, 1) SCH_SEX
        FROM   i_sch_t,
               i_cod_t,
               i_tkyk_t,
               i_sch_com_t,
               i_sch_agen_t --대리점조회시 추가테이블 
        WHERE  sch_tkyk IN ( 'C', 'D', 'H', 'I',
                             'L', 'R' ) -- 특약 
               AND sca_code = sch_code
               AND sca_agen IN ( '{agent}' ) -- 대리점코드 
               AND sch_del_yn = 'Y' -- 사용여부 
               AND ( cod_gbn_code(+) = '02'
                     AND cod_code(+) = sch_cd_area_gb )
               AND tkyk_code(+) = sch_tkyk
               AND schc_code(+) = sch_com_cd
               AND Substr(sch_code, 2, 1) IN ( 'A', 'C', 'E', 'G' )) SCH,
       (SELECT cod_code,
               cod_name
        FROM   i_cod_t
        WHERE  cod_gbn_code = '01'
               AND del_yn = 'Y'
               AND cod_etc3 IN ( 'F', 'T' ) -- 시즌(동하복, 공통)
               AND cod_etc4 IN ( 'M', 'C' ) -- 남녀복종(남녀, 공통)
       ) BOK,
       (SELECT Trim(To_char(LEVEL, '09')) AS SIZE_CODE
        FROM   dual
        CONNECT BY LEVEL <= 15
        UNION ALL
        SELECT 'SS'
        FROM   dual
        UNION ALL
        SELECT 'BB'
        FROM   dual) SIZE_TAB
UNION ALL
SELECT 'FF'                                      GRP,
       'IVYCLUB'                                 IVY_CD,
       Substr(season, 1, 2)                      YEAR,
       Substr(season, 3, 1)                      SS,
       sch_area                                  AREA,
       sch_sex                                   SEX,
       cod_code                                  BOKJONG,
       Decode(Substr(season, 3, 1), 'S', 'S',
                                    'F')         GUBUN,
       '0'                                       GUBUN2,
       sch_code                                  SCH_CD,
       Rawtohex(utl_raw.Cast_to_raw(sch_name
                                    ||' '
                                    ||cod_name)) NAME,
       size_code                                 SIZE_CD,
       size_code                                 PTN_CD,
       '100000'                                  TAG_PRICE,
       '100000'                                  SALE_PRICE,
       '100000'                                  ORIGIN_PRICE,
       '01'                                      DGN_CD,
       '0'                                       COLOR_CD,
       '01'                                      GH_CD,
       'JS'                                      HS_CD,
       '01'                                      GG_CD,
       ''                                        ITEM_CD,
       ''                                        BAR1,
       ''                                        BAR2,
       ''                                        HHY_CD,
       ''                                        STORY,
       ''                                        REMARK
FROM   (SELECT '{N_season}' AS SEASON
        FROM   dual
        UNION ALL
        SELECT '{F_season}' AS SEASON
        FROM   dual) SEASON_TAB,
       (SELECT sch_code,
               sch_name,
               Substr(sch_code, 1, 1) SCH_AREA,
               Substr(sch_code, 2, 1) SCH_SEX
        FROM   i_sch_t,
               i_cod_t,
               i_tkyk_t,
               i_sch_com_t,
               i_sch_agen_t --대리점조회시 추가테이블 
        WHERE  sch_tkyk IN ( 'C', 'D', 'H', 'I',
                             'L', 'R' ) -- 특약 
               AND sca_code = sch_code
               AND sca_agen IN ( '{agent}' ) -- 대리점코드 
               AND sch_del_yn = 'Y' -- 사용여부 
               AND ( cod_gbn_code(+) = '02'
                     AND cod_code(+) = sch_cd_area_gb )
               AND tkyk_code(+) = sch_tkyk
               AND schc_code(+) = sch_com_cd
               AND Substr(sch_code, 2, 1) IN ( 'B', 'D', 'F', 'H' ) -- 여자 
       ) SCH,
       (SELECT cod_code,
               cod_name
        FROM   i_cod_t
        WHERE  cod_gbn_code = '01'
               AND del_yn = 'Y'
               AND cod_etc3 IN ( 'F', 'T' ) -- 시즌(동하복, 공통)
               AND cod_etc4 IN ( 'F', 'C' ) -- 남녀복종(남녀, 공통)
       ) BOK,
       (SELECT Trim(To_char(LEVEL, '09')) AS SIZE_CODE
        FROM   dual
        CONNECT BY LEVEL <= 15
        UNION ALL
        SELECT 'SS'
        FROM   dual
        UNION ALL
        SELECT 'BB'
        FROM   dual) SIZE_TAB
UNION ALL
SELECT 'SM'                                      GRP,
       'IVYCLUB'                                 IVY_CD,
       Substr(season, 1, 2)                      YEAR,
       Substr(season, 3, 1)                      SS,
       sch_area                                  AREA,
       sch_sex                                   SEX,
       cod_code                                  BOKJONG,
       Decode(Substr(season, 3, 1), 'S', 'S',
                                    'F')         GUBUN,
       '0'                                       GUBUN2,
       sch_code                                  SCH_CD,
       Rawtohex(utl_raw.Cast_to_raw(sch_name
                                    ||' '
                                    ||cod_name)) NAME,
       size_code                                 SIZE_CD,
       size_code                                 PTN_CD,
       '100000'                                  TAG_PRICE,
       '100000'                                  SALE_PRICE,
       '100000'                                  ORIGIN_PRICE,
       '01'                                      DGN_CD,
       '0'                                       COLOR_CD,
       '01'                                      GH_CD,
       'JS'                                      HS_CD,
       '01'                                      GG_CD,
       ''                                        ITEM_CD,
       ''                                        BAR1,
       ''                                        BAR2,
       ''                                        HHY_CD,
       ''                                        STORY,
       ''                                        REMARK
FROM   (SELECT '{S_season}' AS SEASON
        FROM   dual) SEASON_TAB,
       (SELECT sch_code,
               sch_name,
               Substr(sch_code, 1, 1) SCH_AREA,
               Substr(sch_code, 2, 1) SCH_SEX
        FROM   i_sch_t,
               i_cod_t,
               i_tkyk_t,
               i_sch_com_t,
               i_sch_agen_t --대리점조회시 추가테이블 
        WHERE  sch_tkyk IN ( 'C', 'D', 'H', 'I',
                             'L', 'R' ) -- 특약 
               AND sca_code = sch_code
               AND sca_agen IN ( '{agent}' ) -- 대리점코드 
               AND sch_del_yn = 'Y' -- 사용여부 
               AND ( cod_gbn_code(+) = '02'
                     AND cod_code(+) = sch_cd_area_gb )
               AND tkyk_code(+) = sch_tkyk
               AND schc_code(+) = sch_com_cd
               AND Substr(sch_code, 2, 1) IN ( 'A', 'C', 'E', 'G' )) SCH,
       (SELECT cod_code,
               cod_name
        FROM   i_cod_t
        WHERE  cod_gbn_code = '01'
               AND del_yn = 'Y'
               AND cod_etc3 IN ( 'S', 'T' ) -- 시즌(동하복, 공통)
               AND cod_etc4 IN ( 'M', 'C' ) -- 남녀복종(남녀, 공통)
       ) BOK,
       (SELECT Trim(To_char(LEVEL, '09')) AS SIZE_CODE
        FROM   dual
        CONNECT BY LEVEL <= 15
        UNION ALL
        SELECT 'SS'
        FROM   dual
        UNION ALL
        SELECT 'BB'
        FROM   dual) SIZE_TAB
UNION ALL
SELECT 'SF'                                      GRP,
       'IVYCLUB'                                 IVY_CD,
       Substr(season, 1, 2)                      YEAR,
       Substr(season, 3, 1)                      SS,
       sch_area                                  AREA,
       sch_sex                                   SEX,
       cod_code                                  BOKJONG,
       Decode(Substr(season, 3, 1), 'S', 'S',
                                    'F')         GUBUN,
       '0'                                       GUBUN2,
       sch_code                                  SCH_CD,
       Rawtohex(utl_raw.Cast_to_raw(sch_name
                                    ||' '
                                    ||cod_name)) NAME,
       size_code                                 SIZE_CD,
       size_code                                 PTN_CD,
       '100000'                                  TAG_PRICE,
       '100000'                                  SALE_PRICE,
       '100000'                                  ORIGIN_PRICE,
       '01'                                      DGN_CD,
       '0'                                       COLOR_CD,
       '01'                                      GH_CD,
       'JS'                                      HS_CD,
       '01'                                      GG_CD,
       ''                                        ITEM_CD,
       ''                                        BAR1,
       ''                                        BAR2,
       ''                                        HHY_CD,
       ''                                        STORY,
       ''                                        REMARK
FROM   (SELECT '{S_season}' AS SEASON
        FROM   dual) SEASON_TAB,
       (SELECT sch_code,
               sch_name,
               Substr(sch_code, 1, 1) SCH_AREA,
               Substr(sch_code, 2, 1) SCH_SEX
        FROM   i_sch_t,
               i_cod_t,
               i_tkyk_t,
               i_sch_com_t,
               i_sch_agen_t --대리점조회시 추가테이블 
        WHERE  sch_tkyk IN ( 'C', 'D', 'H', 'I',
                             'L', 'R' ) -- 특약 
               AND sca_code = sch_code
               AND sca_agen IN ( '{agent}' ) -- 대리점코드 
               AND sch_del_yn = 'Y' -- 사용여부 
               AND ( cod_gbn_code(+) = '02'
                     AND cod_code(+) = sch_cd_area_gb )
               AND tkyk_code(+) = sch_tkyk
               AND schc_code(+) = sch_com_cd
               AND Substr(sch_code, 2, 1) IN ( 'B', 'D', 'F', 'H' ) -- 여자 
       ) SCH,
       (SELECT cod_code,
               cod_name
        FROM   i_cod_t
        WHERE  cod_gbn_code = '01'
               AND del_yn = 'Y'
               AND cod_etc3 IN ( 'S', 'T' ) -- 시즌(동하복, 공통)
               AND cod_etc4 IN ( 'F', 'C' ) -- 남녀복종(남녀, 공통)
       ) BOK,
       (SELECT Trim(To_char(LEVEL, '09')) AS SIZE_CODE
        FROM   dual
        CONNECT BY LEVEL <= 15
        UNION ALL
        SELECT 'SS'
        FROM   dual
        UNION ALL
        SELECT 'BB'
        FROM   dual) SIZE_TAB   
'''
    df = pd.read_sql_query(oracleSql, engine)
    df_temp = df['name'].copy()
    df['name'] = us7ascii_to_cp949(df_temp)
    
    return df

##### 공통학교 함수 (시스템 조회 기준)

In [16]:
def common_code(N_season, F_season, S_season, agent):
    oracleSql = f'''
SELECT 'FM'                                      GRP,
       'IVYCLUB'                                 IVY_CD,
       Substr(season, 1, 2)                      YEAR,
       Substr(season, 3, 1)                      SS,
       sch_area                                  AREA,
       sch_sex                                   SEX,
       cod_code                                  BOKJONG,
       Decode(Substr(season, 3, 1), 'S', 'S',
                                    'F')         GUBUN,
       '1'                                       GUBUN2,
       sch_code                                  SCH_CD,
       Rawtohex(utl_raw.Cast_to_raw(sch_name
                                    ||' '
                                    ||cod_name)) NAME,
       size_code                                 SIZE_CD,
       size_code                                 PTN_CD,
       '100000'                                  TAG_PRICE,
       '100000'                                  SALE_PRICE,
       '100000'                                  ORIGIN_PRICE,
       '01'                                      DGN_CD,
       '0'                                       COLOR_CD,
       '01'                                      GH_CD,
       'JS'                                      HS_CD,
       '01'                                      GG_CD,
       ''                                        ITEM_CD,
       ''                                        BAR1,
       ''                                        BAR2,
       ''                                        HHY_CD,
       ''                                        STORY,
       ''                                        REMARK
FROM   (SELECT '{N_season}' AS SEASON
        FROM   dual
        UNION ALL
        SELECT '{F_season}' AS SEASON
        FROM   dual) SEASON_TAB,
       (SELECT A.comsch_season,
               A.comsch_school                        sch_code,
               B.sch_name,
               A.comsch_bokjong,
               Substr(A.comsch_school, 1, 1)          sch_area,
               Substr(A.comsch_school, 2, 1)          sch_sex,
               (SELECT Count(sca_code)
                FROM   i_sch_agen_t,
                       i_agen_t
                WHERE  sca_agen = agen_code
                       AND sca_code = A.comsch_school
                       AND sca_set_gb <> 'Y'
                       AND agen_tkyk IN ( 'C', 'D', 'H', 'I',
                                          'L', 'R' )) agen_cnt,
               C.sca_code,
               C.sca_agen,
               D.agen_name,
               C.sca_set_gb,
               D.agen_tkyk,
               e.cod_code,
               e.cod_name
        FROM   i_stand_com_school A,
               i_sch_t B,
               i_sch_agen_t C,
               i_agen_t D,
               i_cod_t E
        WHERE  A.comsch_school = B.sch_code
               AND A.comsch_yn_gb = 'Y'
               AND sca_agen = agen_code
               AND sca_code = A.comsch_school
               AND comsch_bokjong = e.cod_code
               AND e.cod_gbn_code = '01'
               AND e.del_yn = 'Y'
               AND e.cod_etc3 IN ( 'F', 'T' ) -- 시즌(동하복, 공통)
               AND e.cod_etc4 IN ( 'M', 'C' ) -- 남녀복종(남녀, 공통)
               AND c.sca_set_gb <> 'Y'
               AND agen_tkyk IN ( 'C', 'D', 'H', 'I',
                                  'L', 'R' )
               AND A.comsch_season = 'F'
               AND sca_agen IN ( '{agent}' ) -- 대리점코드
               AND Substr(comsch_school, 2, 1) IN ( 'A', 'C', 'E', 'G' )) SCH,
       (SELECT Trim(To_char(LEVEL, '09')) AS SIZE_CODE
        FROM   dual
        CONNECT BY LEVEL <= 15
        UNION ALL
        SELECT 'SS'
        FROM   dual
        UNION ALL
        SELECT 'BB'
        FROM   dual) SIZE_TAB
UNION ALL
SELECT 'FF'                                      GRP,
       'IVYCLUB'                                 IVY_CD,
       Substr(season, 1, 2)                      YEAR,
       Substr(season, 3, 1)                      SS,
       sch_area                                  AREA,
       sch_sex                                   SEX,
       cod_code                                  BOKJONG,
       Decode(Substr(season, 3, 1), 'S', 'S',
                                    'F')         GUBUN,
       '1'                                       GUBUN2,
       sch_code                                  SCH_CD,
       Rawtohex(utl_raw.Cast_to_raw(sch_name
                                    ||' '
                                    ||cod_name)) NAME,
       size_code                                 SIZE_CD,
       size_code                                 PTN_CD,
       '100000'                                  TAG_PRICE,
       '100000'                                  SALE_PRICE,
       '100000'                                  ORIGIN_PRICE,
       '01'                                      DGN_CD,
       '0'                                       COLOR_CD,
       '01'                                      GH_CD,
       'JS'                                      HS_CD,
       '01'                                      GG_CD,
       ''                                        ITEM_CD,
       ''                                        BAR1,
       ''                                        BAR2,
       ''                                        HHY_CD,
       ''                                        STORY,
       ''                                        REMARK
FROM   (SELECT '{N_season}' AS SEASON
        FROM   dual
        UNION ALL
        SELECT '{F_season}' AS SEASON
        FROM   dual) SEASON_TAB,
       (SELECT A.comsch_season,
               A.comsch_school                        sch_code,
               B.sch_name,
               A.comsch_bokjong,
               Substr(A.comsch_school, 1, 1)          sch_area,
               Substr(A.comsch_school, 2, 1)          sch_sex,
               (SELECT Count(sca_code)
                FROM   i_sch_agen_t,
                       i_agen_t
                WHERE  sca_agen = agen_code
                       AND sca_code = A.comsch_school
                       AND sca_set_gb <> 'Y'
                       AND agen_tkyk IN ( 'C', 'D', 'H', 'I',
                                          'L', 'R' )) agen_cnt,
               C.sca_code,
               C.sca_agen,
               D.agen_name,
               C.sca_set_gb,
               D.agen_tkyk,
               e.cod_code,
               e.cod_name
        FROM   i_stand_com_school A,
               i_sch_t B,
               i_sch_agen_t C,
               i_agen_t D,
               i_cod_t E
        WHERE  A.comsch_school = B.sch_code
               AND A.comsch_yn_gb = 'Y'
               AND sca_agen = agen_code
               AND sca_code = A.comsch_school
               AND comsch_bokjong = e.cod_code
               AND e.cod_gbn_code = '01'
               AND e.del_yn = 'Y'
               AND e.cod_etc3 IN ( 'F', 'T' ) -- 시즌(동하복, 공통)
               AND e.cod_etc4 IN ( 'F', 'C' ) -- 남녀복종(남녀, 공통)
               AND c.sca_set_gb <> 'Y'
               AND agen_tkyk IN ( 'C', 'D', 'H', 'I',
                                  'L', 'R' )
               AND A.comsch_season = 'F'
               AND sca_agen IN ( '{agent}' ) -- 대리점코드
               AND Substr(comsch_school, 2, 1) IN ( 'B', 'D', 'F', 'H' )) SCH,
       (SELECT Trim(To_char(LEVEL, '09')) AS SIZE_CODE
        FROM   dual
        CONNECT BY LEVEL <= 15
        UNION ALL
        SELECT 'SS'
        FROM   dual
        UNION ALL
        SELECT 'BB'
        FROM   dual) SIZE_TAB
UNION ALL
SELECT 'SM'                                      GRP,
       'IVYCLUB'                                 IVY_CD,
       Substr(season, 1, 2)                      YEAR,
       Substr(season, 3, 1)                      SS,
       sch_area                                  AREA,
       sch_sex                                   SEX,
       cod_code                                  BOKJONG,
       Decode(Substr(season, 3, 1), 'S', 'S',
                                    'F')         GUBUN,
       '1'                                       GUBUN2,
       sch_code                                  SCH_CD,
       Rawtohex(utl_raw.Cast_to_raw(sch_name
                                    ||' '
                                    ||cod_name)) NAME,
       size_code                                 SIZE_CD,
       size_code                                 PTN_CD,
       '100000'                                  TAG_PRICE,
       '100000'                                  SALE_PRICE,
       '100000'                                  ORIGIN_PRICE,
       '01'                                      DGN_CD,
       '0'                                       COLOR_CD,
       '01'                                      GH_CD,
       'JS'                                      HS_CD,
       '01'                                      GG_CD,
       ''                                        ITEM_CD,
       ''                                        BAR1,
       ''                                        BAR2,
       ''                                        HHY_CD,
       ''                                        STORY,
       ''                                        REMARK
FROM   (SELECT '{S_season}' AS SEASON
        FROM   dual) SEASON_TAB,
       (SELECT A.comsch_season,
               A.comsch_school                        sch_code,
               B.sch_name,
               A.comsch_bokjong,
               Substr(A.comsch_school, 1, 1)          sch_area,
               Substr(A.comsch_school, 2, 1)          sch_sex,
               (SELECT Count(sca_code)
                FROM   i_sch_agen_t,
                       i_agen_t
                WHERE  sca_agen = agen_code
                       AND sca_code = A.comsch_school
                       AND sca_set_gb <> 'Y'
                       AND agen_tkyk IN ( 'C', 'D', 'H', 'I',
                                          'L', 'R' )) agen_cnt,
               C.sca_code,
               C.sca_agen,
               D.agen_name,
               C.sca_set_gb,
               D.agen_tkyk,
               e.cod_code,
               e.cod_name
        FROM   i_stand_com_school A,
               i_sch_t B,
               i_sch_agen_t C,
               i_agen_t D,
               i_cod_t E
        WHERE  A.comsch_school = B.sch_code
               AND A.comsch_yn_gb = 'Y'
               AND sca_agen = agen_code
               AND sca_code = A.comsch_school
               AND comsch_bokjong = e.cod_code
               AND e.cod_gbn_code = '01'
               AND e.del_yn = 'Y'
               AND e.cod_etc3 IN ( 'S', 'T' ) -- 시즌(동하복, 공통)
               AND e.cod_etc4 IN ( 'M', 'C' ) -- 남녀복종(남녀, 공통)
               AND c.sca_set_gb <> 'Y'
               AND agen_tkyk IN ( 'C', 'D', 'H', 'I',
                                  'L', 'R' )
               AND A.comsch_season = 'S'
               AND sca_agen IN ( '{agent}' ) -- 대리점코드
               AND Substr(comsch_school, 2, 1) IN ( 'A', 'C', 'E', 'G' )) SCH,
       (SELECT Trim(To_char(LEVEL, '09')) AS SIZE_CODE
        FROM   dual
        CONNECT BY LEVEL <= 15
        UNION ALL
        SELECT 'SS'
        FROM   dual
        UNION ALL
        SELECT 'BB'
        FROM   dual) SIZE_TAB
UNION ALL
SELECT 'SF'                                      GRP,
       'IVYCLUB'                                 IVY_CD,
       Substr(season, 1, 2)                      YEAR,
       Substr(season, 3, 1)                      SS,
       sch_area                                  AREA,
       sch_sex                                   SEX,
       cod_code                                  BOKJONG,
       Decode(Substr(season, 3, 1), 'S', 'S',
                                    'F')         GUBUN,
       '1'                                       GUBUN2,
       sch_code                                  SCH_CD,
       Rawtohex(utl_raw.Cast_to_raw(sch_name
                                    ||' '
                                    ||cod_name)) NAME,
       size_code                                 SIZE_CD,
       size_code                                 PTN_CD,
       '100000'                                  TAG_PRICE,
       '100000'                                  SALE_PRICE,
       '100000'                                  ORIGIN_PRICE,
       '01'                                      DGN_CD,
       '0'                                       COLOR_CD,
       '01'                                      GH_CD,
       'JS'                                      HS_CD,
       '01'                                      GG_CD,
       ''                                        ITEM_CD,
       ''                                        BAR1,
       ''                                        BAR2,
       ''                                        HHY_CD,
       ''                                        STORY,
       ''                                        REMARK
FROM   (SELECT '{S_season}' AS SEASON
        FROM   dual) SEASON_TAB,
       (SELECT A.comsch_season,
               A.comsch_school                        sch_code,
               B.sch_name,
               A.comsch_bokjong,
               Substr(A.comsch_school, 1, 1)          sch_area,
               Substr(A.comsch_school, 2, 1)          sch_sex,
               (SELECT Count(sca_code)
                FROM   i_sch_agen_t,
                       i_agen_t
                WHERE  sca_agen = agen_code
                       AND sca_code = A.comsch_school
                       AND sca_set_gb <> 'Y'
                       AND agen_tkyk IN ( 'C', 'D', 'H', 'I',
                                          'L', 'R' )) agen_cnt,
               C.sca_code,
               C.sca_agen,
               D.agen_name,
               C.sca_set_gb,
               D.agen_tkyk,
               e.cod_code,
               e.cod_name
        FROM   i_stand_com_school A,
               i_sch_t B,
               i_sch_agen_t C,
               i_agen_t D,
               i_cod_t E
        WHERE  A.comsch_school = B.sch_code
               AND A.comsch_yn_gb = 'Y'
               AND sca_agen = agen_code
               AND sca_code = A.comsch_school
               AND comsch_bokjong = e.cod_code
               AND e.cod_gbn_code = '01'
               AND e.del_yn = 'Y'
               AND e.cod_etc3 IN ( 'S', 'T' ) -- 시즌(동하복, 공통)
               AND e.cod_etc4 IN ( 'F', 'C' ) -- 남녀복종(남녀, 공통)
               AND c.sca_set_gb <> 'Y'
               AND agen_tkyk IN ( 'C', 'D', 'H', 'I',
                                  'L', 'R' )
               AND A.comsch_season = 'S'
               AND sca_agen IN ( '{agent}' ) -- 대리점코드
               AND Substr(comsch_school, 2, 1) IN ( 'B', 'D', 'F', 'H' )) SCH,
       (SELECT Trim(To_char(LEVEL, '09')) AS SIZE_CODE
        FROM   dual
        CONNECT BY LEVEL <= 15
        UNION ALL
        SELECT 'SS'
        FROM   dual
        UNION ALL
        SELECT 'BB'
        FROM   dual) SIZE_TAB 
'''
    df = pd.read_sql_query(oracleSql, engine)
    df_temp = df['name'].copy()
    df['name'] = us7ascii_to_cp949(df_temp)
    
    return df

### 데이터프레임 합치기 (원본데이터 작성)

In [17]:
df_code = pd.DataFrame([])

for agent in agents: # 입력받은 대리점들
    df_cd = product_code(N_season, F_season, S_season, agent)
    df_cd_common = common_code(N_season, F_season, S_season, agent) # 공통코드
    df_cd.insert(loc=0, column='agent', value=agent) # 대리점 코드를 맨 첫번째 열로 삽입함
    df_cd_common.insert(loc=0, column='agent', value=agent) # 공통코드
    df_code = pd.concat([df_code, df_cd, df_cd_common]) # 이전 데이터프레임에 합치기

 ### 데이터전처리 시작

#### 결측치 처리

In [18]:
df_code = df_code.fillna('')
df_code

,agent,grp,ivy_cd,year,ss,area,sex,bokjong,gubun,gubun2,...,color_cd,gh_cd,hs_cd,gg_cd,item_cd,bar1,bar2,hhy_cd,story,remark
0,VA345,FM,IVYCLUB,23,N,A,A,W,F,0,...,0,01,JS,01,,,,,,
1,VA345,FM,IVYCLUB,23,N,A,C,W,F,0,...,0,01,JS,01,,,,,,
2,VA345,FM,IVYCLUB,23,N,A,C,W,F,0,...,0,01,JS,01,,,,,,
3,VA345,FM,IVYCLUB,23,N,A,A,W,F,0,...,0,01,JS,01,,,,,,
4,VA345,FM,IVYCLUB,23,N,A,A,W,F,0,...,0,01,JS,01,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,VA347,FF,IVYCLUB,22,F,D,D,B,F,1,...,0,01,JS,01,,,,,,
166,VA347,FF,IVYCLUB,23,N,D,D,B,F,1,...,0,01,JS,01,,,,,,
167,VA347,FF,IVYCLUB,22,F,D,D,B,F,1,...,0,01,JS,01,,,,,,
168,VA347,FF,IVYCLUB,23,N,D,D,B,F,1,...,0,01,JS,01,,,,,,
169,VA347,FF,IVYCLUB,22,F,D,D,B,F,1,...,0,01,JS,01,,,,,,

#### 컬럼명 변경

In [19]:
df_code.columns = ['대리점',
                   '그룹',
                   '거래처코드',
                   '상품코드_년도코드',
                   '상품코드_시즌코드',
                   '상품코드_지역코드',
                   '상품코드_성별코드',
                   '상품코드_상품구분코드',
                   '상품코드_구분코드',
                   '상품코드_일반/공통복종구분',
                   '상품코드_학교코드',
                   '상품명',
                   '사이즈코드',
                   '사이즈패턴코드',
                   'TAG가',
                   '판매가',
                   '원가',
                   '디자이너코드',
                   '칼라코드',
                   '기획코드',
                   '행사코드',
                   '생산국가코드',
                   '아이템코드',
                   '바코드1',
                   '바코드2',
                   '혼용률',
                   'MD_STORY',
                   '봉제주의사항']
df_code

,대리점,그룹,거래처코드,상품코드_년도코드,상품코드_시즌코드,상품코드_지역코드,상품코드_성별코드,상품코드_상품구분코드,상품코드_구분코드,상품코드_일반/공통복종구분,...,칼라코드,기획코드,행사코드,생산국가코드,아이템코드,바코드1,바코드2,혼용률,MD_STORY,봉제주의사항
0,VA345,FM,IVYCLUB,23,N,A,A,W,F,0,...,0,01,JS,01,,,,,,
1,VA345,FM,IVYCLUB,23,N,A,C,W,F,0,...,0,01,JS,01,,,,,,
2,VA345,FM,IVYCLUB,23,N,A,C,W,F,0,...,0,01,JS,01,,,,,,
3,VA345,FM,IVYCLUB,23,N,A,A,W,F,0,...,0,01,JS,01,,,,,,
4,VA345,FM,IVYCLUB,23,N,A,A,W,F,0,...,0,01,JS,01,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,VA347,FF,IVYCLUB,22,F,D,D,B,F,1,...,0,01,JS,01,,,,,,
166,VA347,FF,IVYCLUB,23,N,D,D,B,F,1,...,0,01,JS,01,,,,,,
167,VA347,FF,IVYCLUB,22,F,D,D,B,F,1,...,0,01,JS,01,,,,,,
168,VA347,FF,IVYCLUB,23,N,D,D,B,F,1,...,0,01,JS,01,,,,,,
169,VA347,FF,IVYCLUB,22,F,D,D,B,F,1,...,0,01,JS,01,,,,,,

In [20]:
df_code = df_code.sort_values(['대리점', '상품코드_년도코드', '상품코드_시즌코드', '상품코드_학교코드', '상품코드_상품구분코드', '사이즈코드'])

In [21]:
df_code

,대리점,그룹,거래처코드,상품코드_년도코드,상품코드_시즌코드,상품코드_지역코드,상품코드_성별코드,상품코드_상품구분코드,상품코드_구분코드,상품코드_일반/공통복종구분,...,칼라코드,기획코드,행사코드,생산국가코드,아이템코드,바코드1,바코드2,혼용률,MD_STORY,봉제주의사항
4050,VA345,FM,IVYCLUB,22,F,A,A,C,F,0,...,0,01,JS,01,,,,,,
4084,VA345,FM,IVYCLUB,22,F,A,A,C,F,0,...,0,01,JS,01,,,,,,
4118,VA345,FM,IVYCLUB,22,F,A,A,C,F,0,...,0,01,JS,01,,,,,,
4152,VA345,FM,IVYCLUB,22,F,A,A,C,F,0,...,0,01,JS,01,,,,,,
4186,VA345,FM,IVYCLUB,22,F,A,A,C,F,0,...,0,01,JS,01,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,VA347,FF,IVYCLUB,23,N,D,D,B,F,1,...,0,01,JS,01,,,,,,
162,VA347,FF,IVYCLUB,23,N,D,D,B,F,1,...,0,01,JS,01,,,,,,
164,VA347,FF,IVYCLUB,23,N,D,D,B,F,1,...,0,01,JS,01,,,,,,
168,VA347,FF,IVYCLUB,23,N,D,D,B,F,1,...,0,01,JS,01,,,,,,
166,VA347,FF,IVYCLUB,23,N,D,D,B,F,1,...,0,01,JS,01,,,,,,

#### ** 공통코드 기입 관련 코드

---

- 공통코드 엑셀 시트 기입양식 예시

|대리점코드|실학교코드|공통학교코드|복종|
|:---:|:---:|:---:|:---:|
|VA146|AD754|DC297|P|
|VA146|AD757|DC297|P|
|VA345|AD662|DC297|P|

In [22]:
# # 아마도 학교와 공통학교는 dict 형태로 받아야 할 것 같다.

# agen_lst = ['VA146', 'VA345']
# sch_lst = ['AD754', 'AD757', 'AD662']
# bok_lst = ['P', 'J']
# common_l = 'DC297'

# def common_update(agen, sch, bok, common):
#     cond1 = df_code['대리점'] == agen
#     cond2 = df_code['상품코드_학교코드'] == sch
#     cond3 = df_code['상품코드_상품구분코드'] == bok
    
#     comm_name = df_code[df_code['상품코드_학교코드'] == 'DC297'].iat[0, 11] # 11번째 열이 '상품명'이다. at로 하면 에러남. 원인불명.
#     # comm_name = df_code[df_code['상품코드_학교코드'] == 'DC297']['상품명'].values[0] # 위와 동일한 코드
    
#     df_code['상품코드_일반/공통복종구분'] = df_code['상품코드_일반/공통복종구분'].mask(cond1 & cond2 & cond3, '1') # 공통 1찍기
#     df_code['상품명'] = df_code['상품명'].mask(cond1 & cond2 & cond3, comm_name) # 같은 조건으로 상품명 바꾸기
    
# for agen in agen_lst:
#     for sch in sch_lst:
#         for bok in bok_lst:
#             common_update(agen, sch, bok, common_l)
#             print(agen, sch, bok, common_l)
            
# df_code[(df_code['대리점'] == 'VA146') & (df_code['상품코드_학교코드'] == 'AD754') & (df_code['상품코드_상품구분코드'] == 'J')]['상품명']

#### 원본 데이터 CSV로 저장

In [23]:
df_code.to_csv(f'{agents}.csv', index=False, encoding='CP949')

In [24]:
# sys.exit()

## 엑셀파일 작업 시작

### 엑셀 인스턴스 생성

In [25]:
app = xw.App(visible=True) # 실행과정 보이게
# app = xw.App(visible=False) # 실행과정 안보이게

### 반복문 작업 (1단 : 대리점 -> 2단 : 학교코드)

In [26]:
log_text = ''

for agent in agents:
    
    log_text += f'{agent} 통합문서 생성중입니다.\n'
    print(f'{agent} 통합문서 생성중입니다.')

    wb = xw.books.add() # 워크북 객체 생성
    
    df_agent = df_code[df_code['대리점'] == agent].copy() # 대리점 별 데이터프레임 분할
    df_agent = df_agent.drop(['대리점', '그룹'], axis=1) # 필요없는 열 삭제
    df_agent = df_agent.sort_values(['상품코드_년도코드', '상품코드_시즌코드', '상품코드_학교코드', '상품코드_상품구분코드', '사이즈코드'])
    
    sch_count = len(df_agent['상품코드_학교코드'].unique())
    log_text += f'총 {sch_count} 개의 학교가 있습니다.\n'
    print('총' , sch_count, '개의 학교가 있습니다.')
          
    for sch_code in (df_agent['상품코드_학교코드'].unique()): # 잘라낸 데이터프레임에서 학교코드 반복문 실행
        
        log_text += f'{sch_code} '
        print(sch_code, end=' ')
        
        sh1 = wb.sheets.add() # 새 시트 생성
        sh1.name = sch_code # 학교코드로 시트이름 지정
        # 형식 고정 (0 -> 00)
        sh1.range('K:L').number_format = '00'
        sh1.range('P:P').number_format = '00'
        sh1.range('R:R').number_format = '00'
        sh1.range('T:T').number_format = '00'
        sh1['A1'].options(index=False, dtype=str).value = df_agent[df_agent['상품코드_학교코드'] == sch_code] # 해당학교의 시트내용 복사

    log_text += '\n\n'
    print()
    print()

    sh1 = wb.sheets('Sheet1') # 첫 시트 지정
    sh1.delete() # 첫 시트 삭제
    wb.save(f'{agent}.xlsx') # 대리점 코드로 저장
    wb.close()

VA345 통합문서 생성중입니다.
총 67 개의 학교가 있습니다.
AA045 AA073 AA074 AA075 AA076 AA080 AA081 AA086 AA265 AA309 AA455 AA551 AA556 AA710 AA768 AA965 AA973 AA974 AB079 AB080 AB081 AB083 AB084 AB088 AB090 AB094 AB202 AB235 AB380 AB473 AB474 AB481 AB595 AB610 AC041 AC059 AC062 AC063 AC069 AC121 AC123 AC255 AC439 AC440 AC636 AC637 AC719 AC868 AC869 AC908 AD054 AD055 AD058 AD061 AD112 AD130 AD422 AD423 AD613 AD657 DC035 DC106 DC112 DC115 DD047 DD048 DC297

VA347 통합문서 생성중입니다.
총 45 개의 학교가 있습니다.
AA467 AA697 AA698 AA703 AA704 AA705 AA706 AB387 AB598 AB599 AB604 AB605 AB606 AB607 AB685 AC364 AC653 AC679 AC680 AC681 AC682 AC683 AC684 AC690 AC691 AC694 AC695 AC696 AC701 AC857 AD325 AD607 AD630 AD631 AD632 AD633 AD634 AD635 AD636 AD637 DC035 DC075 DC081 DD047 DD048

### 액셀 인스턴스 종료

In [27]:
app.kill()

### 수행시간측정 종료

In [28]:
end_lab = timer()

In [29]:
pyautogui.alert(title='수행시간 측정', text=f'시작시각 : {start_lab}\n종료시각 : {end_lab}\n\n총 수행시간 : {end_lab-start_lab} 초')

'OK'

In [30]:
pyautogui.alert(title='작업로그', text=log_text)

'OK'

In [31]:
pyautogui.alert(title='프로그램 완료', text='지루한 작업이 모두 끝났습니다. \n수고하셨습니다.')

'OK'